:root {
   --main-midnight-green-color: #014e56;
   --main-light-coral-color: #f67e7e;
   --main-rapture-blue-color: #79c8c7; 
   --main-police-blue-color: #2c6269;
   --main-deep-jungle-green-color: #004047;
   --main-sacramento-green-color: #012f34;
   --main-dark-green-color: #002529; 
   --main-white-color: #fff;
   --main-black-color: #000;
}