<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!-- SITE HEADER  -->
    <header class="site-header">
        <div class="container">
            <div class="site-header__wrapper">
                <a class="logo" href="../index.html">
                    <img class="logo__img" src="../images/svg/logo.svg" alt="MyTeam's logo">
                </a>
                <div class="site-header__inner-wrapper js-header-inner">
                    <button class="site-header__close-btn js-close-btn" type="button"></button>
                    <nav class="site-header__nav">
                        <ul class="site-header__list">
                            <li class="site-header__item">
                                <a class="site-header__link" href="../index.html">
                                    home
                                </a>
                            </li>
                            <li class="site-header__item">
                                <a class="site-header__link" href="#">
                                    about
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <a class="site-header__contact-link" href="./contact.html">
                        contact us
                    </a>
                </div>
                <button class="site-header__bar-btn js-bar-btn" type="button"></button>
            </div>
        </div>
    </header>
    <!-- SITE HEADER ENDS  -->
    <!-- SITE MAIN  -->
    <main class="site-main">
        <section class="contact">
            <div class="container">
                <div class="contact__wrapper">
                    <div class="contact__details-wrapper">
                        <div class="contact__inner-wrapper">
                            <h2 class="contact__title" title="Contact">
                                Contact
                            </h2>
                            <p class="contact__desc" title="Ask us about">
                                Ask us about
                            </p>
                        </div>
                        <ul class="contact__list">
                            <li class="contact__item" title="The quality of our talent network">
                                The quality of our talent network
                            </li>
                            <li class="contact__item" title="Usage & implementation of our software">
                                Usage & implementation of our software
                            </li>
                            <li class="contact__item" title="How we help drive innovation">
                                How we help drive innovation
                            </li>
                        </ul>
                    </div> 
                    <div class="contact__form-wrapper">
                        <form class="contact__form js-contact-form" action="https://echo.htmlacademy.ru/courses" method="POST" autocomplete="off">
                            <input class="contact__input" type="text" name="user_name" placeholder="Name" aria-label="Enter your name">
                            <input class="contact__input" type="email" name="user_email" placeholder="Email Address" aria-label="Enter your email">
                            <input class="contact__input" type="text" name="user_company_name" placeholder="Company Name" aria-label="Enter your company name">
                            <input class="contact__input" type="text" name="user_title" placeholder="Title" aria-label="Enter your title">
                            <textarea class="contact__input contact__input--msg" name="user_msg" placeholder="Message" aria-label="Enter your message"></textarea>
                            <button class="contact__btn" type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- SITE MAIN ENDS  -->
    <!-- SITE FOOTER  -->
    <footer class="site-footer">
        <div class="container">
            <div class="site-footer__inner">
                <div class="site-footer__start">
                    <a class="site-footer__logo" href="../index.html">
                        <img class="site-footer__logo-img" src="../images/svg/logo.svg" alt="MyTeam's logo">
                    </a>
                    <ul class="site-footer__start-list">
                        <li class="site-footer__start-item">
                            <a href="../index.html" class="site-footer__start-link">home</a>
                        </li>
                        <li class="site-footer__start-item">
                            <a href="#" class="site-footer__start-link">about</a>
                        </li>
                    </ul>
                </div>
                <ul class="site-footer__list">
                    <li class="site-footer__item">
                        <a href="#" class="site-footer__link">987  Hillcrest Lane </a>
                    </li>
                    <li class="site-footer__item">
                        <a href="#" class="site-footer__link">Irvine, CA</a>
                    </li>
                    <li class="site-footer__item">
                        <a href="#" class="site-footer__link">California 92714</a>
                    </li>
                    <li class="site-footer__item">
                        <a href="#" class="site-footer__link">Call Us : 949-833-7432</a>
                    </li>
                </ul>
                <div class="site-footer__end">
                    <ul class="site-footer__end-list">
                        <li class="site-footer__end-item">
                            <a href="#" class="site-footer__end-link">
                                <img src="../images/svg/facebook.svg" width="24" height="24" alt="facebook logo" class="site-footer__end-img">
                            </a>
                        </li>
                        <li class="site-footer__end-item">
                            <a href="#" class="site-footer__end-link">
                                <img src="../images/svg/p.svg" width="24" height="24" alt=" p logo" class="site-footer__end-img">
                            </a>
                        </li>
                        <li class="site-footer__end-item">
                            <a href="#" class="site-footer__end-link">
                                <img src="../images/svg/twitter.svg" width="24" height="20" alt=" twitter logo" class="site-footer__end-img">
                            </a>
                        </li>
                    </ul>
                    <p class="site-footer__text">Copyright 2020. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- SITE FOOTER ENDS -->
<script src="../js/app.js"></script>
</body>
</html>