@use "../mixins" as mx;

.contact__input {
    width: 100%;
    padding: 0 14px 16px;
    @include mx.typography(inherit, 600, 15px, 167%, start, var(--main-white-color));
    letter-spacing: -0.115px;
    border: none;
    border-bottom: 1px solid var(--main-white-color);
    background-color: transparent;
}

.contact__input--msg {
    height: 84px;
    resize: none;
}

.contact__btn {
    min-width: 123px;
    padding: 9px 9px 11px;
    @include mx.typography(inherit, 600, 18px, 156%, center, var(--main-deep-jungle-green-color));
    border-radius: 24px;
    border: 2px solid var(--main-white-color);
    background-color: var(--main-white-color);
    cursor: pointer;
}

.contact__input::placeholder {
    @include mx.typography(inherit, 600, 15px, 167%, start, var(--main-white-color));
    opacity: 0.6;
}

$img_list: "expert_person", "settings", "bars";
$counter: 1;
@each $img in $img_list {
    .contact__item:nth-child(#{$counter})::before {
        background-image: url("../images/svg/#{$img}.svg");
    }
    $counter: $counter + 1;
}


@media only screen and (max-width: 355px) {  
    .contact {
        padding-bottom: 88px;
        background: url("../images/svg/contactrightbg.svg") no-repeat calc(50% + 190px) calc(50% + 500px);
    }

    .contact__wrapper {
        @include mx.flexbox(column, center, center);
    }

    .contact__details-wrapper {
        @include mx.flexbox(column, center, center);
        margin-bottom: 64px;
    }

    .contact__inner-wrapper {
        margin-bottom: 48px;
        @include mx.flexbox(column, center, center);
    }

    .contact__title {
        margin-top: 0;
        margin-bottom: 16px;
        @include mx.typography(inherit, 700, 32px, 100%, center, var(--main-white-color));
    }

    .contact__desc {
        @include mx.remove-margin;
        @include mx.typography(inherit, 700, 24px, 150%, center, var(--main-light-coral-color));
    }

    .contact__list {
        @include mx.flexbox(column, start, center);
        @include mx.list-unstyled;
    }

    .contact__item {
        position: relative;
        @include mx.flexbox(row, center, start);
        padding-left: 95px;
        @include mx.typography(inherit, 700, 14px, 156%, start, var(--main-white-color));

        &::before {
            position: absolute;
            left: 0;
            width: 72px;
            height: 72px;
            margin-right: 23px;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
        }
    }

    .contact__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .contact__form-wrapper {
        align-self: stretch;
        @include mx.flexbox(row, stretch, center);
    }

    .contact__form {
        @include mx.flexbox(column, start, center);
        width: 100%;
    }

    .contact__input:not(:last-child) {
        margin-bottom: 24px;
    }

}

@media only screen and (min-width: 355px) and (max-width: 500px) { 
    .contact {
        padding-bottom: 88px;
        background: url("../images/svg/contactrightbg.svg") no-repeat calc(50% + 190px) calc(50% + 485px);
    }

    .contact__wrapper {
        @include mx.flexbox(column, center, center);
    }

    .contact__details-wrapper {
        @include mx.flexbox(column, center, center);
        margin-bottom: 64px;
    }

    .contact__inner-wrapper {
        margin-bottom: 48px;
        @include mx.flexbox(column, center, center);
    }

    .contact__title {
        margin-top: 0;
        margin-bottom: 16px;
        @include mx.typography(inherit, 700, 40px, 100%, center, var(--main-white-color));
    }

    .contact__desc {
        @include mx.remove-margin;
        @include mx.typography(inherit, 700, 32px, 150%, center, var(--main-light-coral-color));
    }

    .contact__list {
        @include mx.flexbox(column, start, center);
        @include mx.list-unstyled;
    }

    .contact__item {
        position: relative;
        @include mx.flexbox(row, center, start);
        padding-left: 95px;
        @include mx.typography(inherit, 700, 18px, 156%, start, var(--main-white-color));

        &::before {
            position: absolute;
            left: 0;
            width: 72px;
            height: 72px;
            margin-right: 23px;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
        }
    }

    .contact__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .contact__form-wrapper {
        align-self: stretch;
        @include mx.flexbox(row, stretch, center);
    }

    .contact__form {
        @include mx.flexbox(column, start, center);
        width: 100%;
    }

    .contact__input:not(:last-child) {
        margin-bottom: 24px;
    }

}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
    .contact {
        padding-bottom: 112px;
        background: url("../images/svg/contactleftbg.svg") no-repeat calc(50% - 400px) top,
                    url("../images/svg/contactrightbg.svg") no-repeat calc(50% + 380px) calc(50% + 370px);
    }

    .contact__wrapper {
        @include mx.flexbox(column, center, center);
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
    }

    .contact__details-wrapper {
        @include mx.flexbox(column, center, center);
        max-width: 515px;
        width: 100%;
        margin-bottom: 64px;
    }

    .contact__inner-wrapper {
        margin-bottom: 46px;
        @include mx.flexbox(column, center, center);
    }

    .contact__title {
        margin-top: 0;
        margin-bottom: 24px;
        @include mx.typography(inherit, 700, 64px, 87.5%, center, var(--main-white-color));
    }

    .contact__desc {
        @include mx.remove-margin;
        @include mx.typography(inherit, 700, 32px, 150%, center, var(--main-light-coral-color));
    }

    .contact__list {
        align-self: flex-start;
        @include mx.flexbox(column, start, center);
        @include mx.list-unstyled;
    }

    .contact__item {
        position: relative;
        @include mx.flexbox(row, center, start);
        padding-left: 95px;
        @include mx.typography(inherit, 700, 18px, 156%, start, var(--main-white-color));

        &::before {
            position: absolute;
            left: 0;
            width: 72px;
            height: 72px;
            margin-right: 23px;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
        }
    }

    .contact__item:not(:last-child) {
        margin-bottom: 52px;
    }

    .contact__form-wrapper {
        width: 100%;
        @include mx.flexbox(row, stretch, center);
    }

    .contact__form {
        align-self: center; 
        @include mx.flexbox(column, start, center);
        width: 100%;
    }

    .contact__input:not(:last-child) {
        margin-bottom: 24px;
    }

}

@media only screen and (min-width: 1024px) {  
    .contact {
        padding-bottom: 128px;
        background: url("../images/svg/contactleftbg.svg") no-repeat calc(50% - 700px) top,
                    url("../images/svg/contactrightbg.svg") no-repeat calc(50% + 710px) calc(50% + 158px);
    }

    .contact__wrapper {
        @include mx.flexbox(row, center, center);
        width: 100%;
        margin: 0 auto;
    }

    .contact__details-wrapper {
        max-width: 540px;
        width: 100%;
        @include mx.flexbox(column, start, center);
        margin-right: 32px;
    }

    .contact__inner-wrapper {
        margin-bottom: 54px;
        @include mx.flexbox(column, start, center);
    }

    .contact__title {
        margin-top: 0;
        margin-bottom: 16px;
        @include mx.typography(inherit, 700, 64px, 156%, start, var(--main-white-color));
    }

    .contact__desc {
        @include mx.remove-margin;
        @include mx.typography(inherit, 700, 32px, 150%, start, var(--main-light-coral-color));
    }

    .contact__list {
        align-self: flex-start;
        @include mx.flexbox(column, start, center);
        @include mx.list-unstyled;
    }

    .contact__item {
        position: relative;
        @include mx.flexbox(row, center, start);
        padding-left: 95px;
        @include mx.typography(inherit, 700, 18px, 156%, start, var(--main-white-color));

        &::before {
            position: absolute;
            left: 0;
            width: 72px;
            height: 72px;
            margin-right: 23px;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
        }
    }

    .contact__item:not(:last-child) {
        margin-bottom: 52px;
    }

    .contact__form-wrapper {
        @include mx.flexbox(row, stretch, center);
        max-width: 540px;
        width: 100%;
    }

    .contact__form {
        align-self: center; 
        @include mx.flexbox(column, start, center);
        width: 100%;
    }

    .contact__input:not(:last-child) {
        margin-bottom: 24px;
    }

}
