@use "../mixins" as mx;
 
.site-footer{
  padding-top: 48px;
  padding-bottom: 48px; 
  background-color: var(--main-sacramento-green-color);
}
.site-footer__inner{
  @include mx.flexbox(row,center,flex-start);
}
.site-footer__start{
  max-width: 160px;
  width: 100%;
  margin-right: 125px;
}
.site-footer__logo{
  margin-bottom: 25px;
  display: block;
}
.site-footer__start-list{
  @include mx.flexbox(row,center,flex-start);
  @include mx.list-unstyled;
}
.site-footer__start-item:first-child{
margin-right: 40px;
}
.site-footer__start-link{
  @include mx.typography(inherit,600,18px,28px,center, #fff);
  text-decoration: none;
}
.site-footer__list{
  max-width: 200px;
  width: 100%;
  @include mx.list-unstyled;

}
.site-footer__link{
  @include mx.typography(inherit,600,15px,25px,start, #fff);
text-decoration: none;
opacity: 0.6;
}

.site-footer__end{
  @include mx.flexbox(column,flex-end,center);
  margin-left: auto;
}
.site-footer__end-list{
  @include mx.flexbox(row,center,center);
  @include mx.list-unstyled;
  margin-bottom: 51px;
}
.site-footer__end-item:not(:last-child){
  margin-right: 15px;
}
 .site-footer__text{
  @include mx.remove-margin;
  @include mx.typography(inherit,600,15px,25px,start, #fff);
  opacity: 0.6;
 }

 @media only screen and (max-width: 700px){
  .site-footer__inner{
    @include mx.flexbox(column,center,center);
  }
  .site-footer__start{
    max-width: 200px;
    @include mx.flexbox(column,center,center);
    margin-right: 0;
    margin-bottom: 24px;
  }
  .site-footer__start-list{
    margin-top: 0;
  }
  .site-footer__list{
    text-align: center;
    margin-bottom: 40px;
  }
  .site-footer__end{
    margin-left: 0;
    @include mx.flexbox(column,center,center);
  }
  .site-footer__end-list{
    margin-bottom: 16px;
  }
 }